/* Rofi config file */
configuration {
    font: "Source Sans Pro 12";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
}

@theme "solarized_alternate"

listview {
    lines: 12;
}

window {
    anchor:     north;
    location:   north;
    width:      100%;
}

